/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Turn off the outline on clicks to brand anchors */
/*

a {
	outline: 0;
	text-decoration:none; 
	}
a:link {
	outline: 0;
	text-decoration:none; 
}
a:visited {
	outline: 0;
	text-decoration:none; 
}
a:hover {
	outline: 0;
	text-decoration:none; 
}
a:active {
	outline: 0;
	text-decoration:none; 
}

li {
	list-style-type: none;
}

*/
