
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* 2016-02-21 JJK */
body {
	padding-top: 60px;
	padding-bottom: 20px;
}

img#header-image {
	margin-top: -10px; 
	margin-right: 5px;
}

input.form-control {
	margin-top: 10px;
	margin-right: 10px;
}

/* Turn off the outline on clicks to brand anchors */
a.navbar-brand {
	outline: 0;
}

a {
	outline: 0;
	text-decoration:none; 
	}
a:link {
	outline: 0;
	text-decoration:none; 
}
a:visited {
	outline: 0;
	text-decoration:none; 
}
a:hover {
	outline: 0;
	text-decoration:none; 
}
a:active {
	outline: 0;
	text-decoration:none; 
}


li {
	list-style-type: none;
}

