
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 60px;
	padding-bottom: 20px;
}

img#header-image {
	margin-top: -10px; margin-right: 5px;
}

/* Turn off the outline on clicks to brand anchors */
a.navbar-brand {
	outline: 0;
}

